<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>You build it!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>App version: $CI_COMMIT_SHA</h1>
    <div>Wooouh a new fancy feature ...</div>
    <div>Legend says hostname comes after: $HOSTNAME</div>
</body>
</html>